/** 글쓰기 board_write.css **/
main #board_title {
    margin-top:20px;
    border-bottom:solid 1px #bbbbbb;
    padding:0 0 5px 0;
}

main table {
    border-collapse:collapse; /* 표의 테두리와 셀 테두리 사이의 간격을 제거 */
    margin:0 auto;
    width:100%;
}

main table th{
    background-color:#eeeeee;
    border-top:solid 2px #aaaaaa;
    height:30px;
}

main table td{
    padding:10px;
    border-bottom:solid 1px #dddddd;
}

main table td.col1{
    text-align:center;
    border-right:solid 1px #cccccc;
}

main table td.col2{
    padding:5px 0 5px 10px;
}

main #subject input{
    width:550px;
    height:16px;
}

main #content textarea{
    width:550px;
    height:200px;
    margin:5px 5px 5px 0;
}

main #buttons{
    text-align:right;
    margin:10px 10px 0 0 ;
}